:root {
  --color-main:             #e8eaf5;

  --color-retina:           #135D9C;
  --color-retina-dark:      #0E4A75;
  --color-retina-bg:        #E8EFF6;

  --color-hebees:           #96257A;
  --color-hebees-dark:      #7A1F63;
  --color-hebees-bg:        #F5EAF2;
  --color-hebees-blue:      #81BAFF;
  --color-hebees-blue-bg:   #DFF4FB;

  --color-hebees-gradient:  linear-gradient(90deg, #BE7DB1 10%, #81BAFF 100%);

  --color-success:          #03A250;
  --color-success-bg:       #D9F1E5;
  --color-loading:          #EE5B01;
  --color-loading-bg:       #FEE8DC;

  --color-white:            #FFFFFF;
  --color-black:            #000000;

  --color-gray-100:         #D9D9D9;
  --color-gray-200:         #BFBFBF;
  --color-gray-300:         #A6A6A6;
  --color-gray-400:         #8C8C8C;
  --color-gray-500:         #737373;
  --color-gray-600:         #595959;
  --color-gray-700:         #404040;
  --color-gray-800:         #262626;
  --color-gray-900:         #0D0D0D;

  --overlay-90:             rgba(0, 0, 0, 0.9);
  --overlay-70:             rgba(0, 0, 0, 0.7);
  --overlay-50:             rgba(0, 0, 0, 0.5);
  --overlay-30:             rgba(0, 0, 0, 0.3);
  --overlay-10:             rgba(0, 0, 0, 0.1);
}
