@import './fonts.css';
@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

/* 알림 애니메이션 */
@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

.shake-hover:hover {
  animation: shake 0.4s ease-in-out;
}

/* Toastify 커스텀 스타일 */
.Toastify__toast {
  border-radius: 12px !important;
  font-size: 14px;
  max-width: 360px;
  width: fit-content;
  white-space: pre-wrap !important;
  word-break: keep-all;
  padding-right: 40px !important;
}

.Toastify__toast-body {
  font-weight: 500;
  white-space: pre-wrap !important;
  word-break: break-word;
  padding-right: 0 !important;
}

.Toastify__close-button {
  right: 8px !important;
}

/* 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Slider 스타일 */
.slider-hebees::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--color-hebees);
  cursor: pointer;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.slider-hebees::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--color-hebees);
  cursor: pointer;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
