@import './fonts.css';
@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 알림 애니메이션 */
@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
}

.shake-hover:hover {
  animation: shake 0.4s ease-in-out;
}

